<div>
  <nav>
    <a routerLink = 'users' routerLinkActive="active">Users</a>
    <br>
    <a routerLink = 'about' routerLinkActive="active">About</a>
    <br>
    <a routerLink = 'api' routerLinkActive="active">API</a>
    <br>
    <a routerLink = 'task' routerLinkActive="active">Task</a> 
    <br>
    <a routerLink = 'form' routerLinkActive="active">Form</a>
    <br>
    <a routerLink = 'observables' routerLinkActive="active">Observables</a>
    <br>
    <a routerLink = 'subjectbehavior' routerLinkActive="active">Subject and Behavior</a>      
  </nav>
  <router-outlet></router-outlet>
</div>
